@model List<Mvc1.ViewModels.ProductListViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <ol>
        @foreach (var item in Model)
        {
            <li>@item.CategoryName - @item.ProductName - @item.UnitPrice</li>
        }
    </ol>
</div>
</body>
</html>